<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File"
      name="Normal"
      filename="STCore/StarsectorToolbox.log"
      layout="[${callsite:methodName=false:includeNamespace=false}] ${level} ${message}${when:when=level==LogLevel.Error:inner=${newline}${exception}:else=}"
      encoding="utf-8"
      createDirs="true"
      deleteOldFileOnStartup="true"
      keepFileOpen="true" />
    <!-- <target xsi:type="File"
      name="File"
      filename="StarsectorToolbox.log"
      layout="[${callsite:methodName=false}] ${level} ${message}${when:when=level==LogLevel.Error:inner=${newline}${exception}:else=}"
      encoding="utf-8"
      maxArchiveFiles="5"
      archiveFileName="StarsectorToolbox.{#}.log"
      archiveNumbering="Rolling"
      archiveOldFileOnStartup="true"
      archiveOldFileOnStartupAboveSize="1"
      createDirs="true"
      keepFileOpen="true" /> -->
    <target xsi:type="File"
      name="DebugFile"
      filename="STCore/StarsectorToolbox.Debug.log"
      layout="[${callsite}] ${level} ${message}${when:when=level==LogLevel.Error:inner=${newline}${exception}:else=}"
      encoding="utf-8"
      createDirs="true"
      deleteOldFileOnStartup="true"
      keepFileOpen="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="Normal" />
    <!-- <logger name="*" minlevel="Debug" writeTo="DebugFile" /> -->
  </rules>
</nlog>